<div>
    <h2 data-translate="gatewayApp.gatewayType.home.title">Gateway Types</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="gateway-type-iot.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="gatewayApp.gatewayType.home.createLabel">
                        Create new Gateway Type
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="gatewayApp.gatewayType.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bindAttribute"><span data-translate="gatewayApp.gatewayType.bindAttribute">Bind Attribute</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="workgroupName"><span data-translate="gatewayApp.gatewayType.workgroup">Workgroup</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="gatewayType in vm.gatewayTypes track by gatewayType.id">
                    <td><a ui-sref="gateway-type-iot-detail({id:gatewayType.id})">{{gatewayType.id}}</a></td>
                    <td>{{gatewayType.name}}</td>
                    <td>{{gatewayType.bindAttribute}}</td>
                    <td>
                        <a ui-sref="workgroup-iot-detail({id:gatewayType.workgroupId})">{{gatewayType.workgroupName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="gateway-type-iot-detail({id:gatewayType.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="gateway-type-iot.edit({id:gatewayType.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="gateway-type-iot.delete({id:gatewayType.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
