
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGatewayTypeLabel" data-translate="gatewayApp.gatewayType.home.createOrEditLabel">Create or edit a Gateway Type</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.gatewayType.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.gatewayType.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.gatewayType.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.gatewayType.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.gatewayType.bindAttribute" for="field_bindAttribute">Bind Attribute</label>
            <input type="text" class="form-control" name="bindAttribute" id="field_bindAttribute"
                    ng-model="vm.gatewayType.bindAttribute"
                    required/>
            <div ng-show="editForm.bindAttribute.$invalid">
                <p class="help-block"
                    ng-show="editForm.bindAttribute.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="gatewayApp.gatewayType.workgroup" for="field_workgroup">Workgroup</label>
            <select class="form-control" id="field_workgroup" name="workgroup" ng-model="vm.gatewayType.workgroupId" ng-options="workgroup.id as workgroup.name for workgroup in vm.workgroups"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.workgroup.$invalid">
            <p class="help-block"
                ng-show="editForm.workgroup.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
